#calendarContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#calendarTable {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%; /* Make the table height 100% */
}

#calendarTable th,
#calendarTable td {
    border: 1px solid #ddd; /* Add borders to cells */
    padding: 8px;
}

#calendarTable th {
    background-color: #f2f2f2;
}

#calendarTable td {
    font-size: 14px;
    height: calc(100% / 6); /* Make each row equally divide the available height */
}


.cell-box {
    width: 10vw;
    max-width: 10vw;
}

.period-box {
    width: 5vw;
    font-weight: bold;
}

.course-name {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    container-type: inline-size;
}

.course-room {

}

.course-instructor {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    container-type: inline-size;
}

.course-credits {
    text-align: end;
    font-size: xx-small;
}

.course-code {
    text-align: end;
    font-size: xx-small;    
}

.course-language {
    text-align: end;
    font-size: xx-small;    
}


.marquee {
    margin: 0 auto; 
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    transform: translate(25px, -15px);
  }
  
  .marquee span {
    display: inline-block;
    animation: marquee 10s linear infinite ;
  }
  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    50% {
        transform: translate(calc(-100% + 80cqw), 0);
    }
    100% {
        transform: translate(0, 0);
    }
  }


.college-major {
    background-color: #ffb100;
}
.college-other {
    background-color: #ff748e;
}
.college-langauge {
    background-color: #b092ff;
}
.college-liberal-arts {
    background-color: #73b4ff;
}
.college-ta {
    background-color: #54cf63;
}

.ta-button {
    position: absolute;
    display: flex;
    place-items: center;
    transform: translateY(-10px);
}

.ta-button::after {
    content: "TA";
    margin-left: 18px;
}